<form action="/videos/<%=@id%>" method="POST">

	<label for="title"></label>
	<input class="edit-input" type="text" name="title" value="<%= @video.title %>">

	<label for="description"></label>
	<textarea class="edit-input" name="description"><%= @video.description %></textarea>

	<label for="url"></label>
	<input class="edit-input" type="text" name="url" value="<%= @video.url %>">

	<label for="genre"></label>
	<input class="edit-input" type="text" name="genre" value="<%= @video.genre %>">	

	<input type="hidden" name="_method" value="PUT">

	<input id="update" type="submit" value="Update">
	
</form>